# <u>Language Translator</u>

In [6]:
# Importing the libraries and Tools
import pandas as pd
import re
import nltk
from nltk.translate import AlignedSent, IBMModel1

In [7]:
# Load the Data
df = pd.read_csv("./data.csv")

In [8]:
#This gives the no. of rows and columns present in the dataset.
df.shape

(118964, 2)

In [9]:
#This gives first 5 values in the dataset
df.head()

  english  spanish
0     Go.      Ve.
1     Go.    Vete.
2     Go.    Vaya.
3     Go.  V치yase.
4     Hi.    Hola.

In [10]:
#This gives first 5 values in the dataset
df.tail()

,english,spanish
118959,There are four main causes of alcohol-related ...,Hay cuatro causas principales de muertes relac...
118960,There are mothers and fathers who will lie awa...,Hay madres y padres que se quedan despiertos d...
118961,A carbon footprint is the amount of carbon dio...,Una huella de carbono es la cantidad de contam...
118962,Since there are usually multiple websites on a...,Como suele haber varias p치ginas web sobre cual...
118963,"If you want to sound like a native speaker, yo...","Si quieres sonar como un hablante nativo, debe..."

In [11]:
#These statistics help you understand the distribution and characteristics of categorical or non-numeric data in your DataFrame.
df.describe()

                  english                spanish
count              118964                 118964
unique             102904                 113322
top     I could kill you.  Ahora tengo que irme.
freq                   24                      9

### Performing Data Analytics operations

This include preprocessing the data using nltk, training the transational model using IBM model 1, and for the output language translatiopn is done

##### Preprocessing Data

In [12]:
english_sentences = df['english'].tolist()
spanish_sentences = df['spanish'].tolist()
def clean_sentences(sentences):
    cleaned_sentences = []
    for sentence in sentences:
        sentence = sentence.strip()
        sentence = sentence.lower()
        sentence = re.sub(r"[^a-zA-Z0-9]+", " ", sentence)
        cleaned_sentences.append(sentence.strip())
    return cleaned_sentences
cleaned_english_sentences = clean_sentences(english_sentences)
cleaned_spanish_sentences = clean_sentences(spanish_sentences)

##### Training the model

In [13]:
def train_translation_model(source_sentences, target_sentences):
    aligned_sentences = [AlignedSent(source.split(), target.split()) for source, target in zip(source_sentences, target_sentences)]
    ibm_model = IBMModel1(aligned_sentences, 10)
    return ibm_model
translation_model = train_translation_model(cleaned_english_sentences, cleaned_spanish_sentences)

##### Translating input sentences

In [ ]:
def translate_input(ibm_model):
    print("running translate input")
    while True:
        source_text = input("Enter the English sentence to translate (or 'q' to quit): ")
        if source_text.lower() == 'q':
            print("Quitting...")
            break
        cleaned_text = clean_sentences(source_text.split())
        source_words = cleaned_text
        translated_words = []
        for source_word in source_words:
            max_prob = 0.0
            translated_word = None
            for target_word in ibm_model.translation_table[source_word]:
                prob = ibm_model.translation_table[source_word][target_word]
                if prob > max_prob:
                    max_prob = prob
                    translated_word = target_word
            if translated_word is not None:
                translated_words.append(translated_word)
        translated_text = ' '.join(translated_words)
        print("Translated text:", translated_text)
        print()

translate_input(translation_model)